<div class="container" style="margin-top: 10px;">
  <div class="p-grid">
    <div class="p-col-12 p-md-12">
      <app-status-jvm></app-status-jvm>
    </div>

    <div class="p-col-12 p-md-3">
      <app-nfe></app-nfe>
    </div>
    <div class="p-col-12 p-md-3">
      <app-cte></app-cte>
    </div>
    <div class="p-col-12 p-md-3">
      <app-mdfe></app-mdfe>
    </div>
    <div class="p-col-12 p-md-3">
      <app-nfse></app-nfse>
    </div>
  </div>

  <app-usuario></app-usuario>

  <app-conexoes></app-conexoes>
</div>
